body {
	font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	min-width: 800px;

	.score {
		display: flex;
		flex-wrap: wrap;
		width: 700px;
		margin: 1rem auto;

		h3 {
			display: flex;
			align-items: center;

			span {
				margin-left: 15px;
				font-size: 250%;
				color: #F56565;
			}
		}
	}

	.stage {
		display: flex;
		flex-wrap: wrap;
		width: 700px;
		margin: 1rem auto 5rem;

		.flex-row {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}

		.col {
			height: 55px;
			flex: 1;
			margin: 0.15rem;

			background: #EDF2F7;

			&.filled1 {
				background: #38B2AC;
			}

			&.filled2 {
				background: #4299E1;
			}

			&.filled3 {
				background: #ED8936;
			}

			&.filled4 {
				background: #48BB78;
			}

			&.filled5 {
				background: #9F7AEA;
			}

			&.filled6 {
				background: #F56565;
			}

			&.filled7 {
				background: #ECC94B;
			}
		}
	}
}
